@font-face {
    font-family: Choppin;
    src: url(../fonts/ChopinScript.otf);

}
body{
	background-color: #000;
}
p,h1{
	color: #fff;
}
#Slideshow{
	margin-top: 100px;
}
#about{
	display: block;
	clear: left;
}
.heading, figcaption{
	font-family: Choppin;
	color: #f09461;
	font-size: 200%;
	text-align: center;
}
.alogo{
	height:	50px;
}
#heading{
	margin-top: 8vh;
}
.heightfull{
	height:100vh;
}
.full{
	width:100%;
    webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}



figure img{
	border-radius: 50%;
}
.ImageGallery>div>a{
    margin-top: 4%;
    width:100%;
    height:400px;
}

.ImageGallery>div>a>img{
	transition: all 0.2s ease-in;
	object-fit: cover;
	width: 100%;
	height:auto;
	max-height: 399px;
	opacity: 1;
	z-index: 100;
	
}
.wrapper {
    margin: 47px auto;
    max-width:580px;
}
 
#contact_form {
    text-shadow:0 1px 0 #FFF;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background:#000;
    padding:25px;
 
}
 
#ff label {
    cursor:pointer;
    margin:4px 0;
    color: #f09461;
    display:block;
    font-weight:800;
 
}
 
input,textarea {
    display:block;
    width:90%;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background-color:#f4f4f4;
    color:#000;
    border:1px solid #5f5f5f;
    padding:10px;
    margin-bottom:25px;
}
 
.sendButton {
    cursor:pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    border:1px solid #eeb44f;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    width:25%;
    font-weight:bold;
    text-shadow:1px 1px 0px #cc9f52;
}
.sendButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}

@keyframes fadein {
    from{ opacity: 0; }
    to{	opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  aside{
    width: 100%;
    display: block;
  }
  #myTopnav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
ul.topnav li a {
    font-family: Choppin;
    color: #f09461;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
    ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
@media (min-width:481px){
    .ImageGallery>div>a{
    width:47%;
    height:200px;
    display: inline-block;
    float: left;
    }
    .ImageGallery>div>a>img{
        max-height: 199px;
    }

}
@media (min-width:641px){
    .ImageGallery>div>a{
    width:32%;
    height:266px;
    }
    .ImageGallery>div>a>img{
        max-height: 265px;
    }


}

@media (min-width:1025px){
    .ImageGallery>div>a{
        height: 400px;
    }
    .ImageGallery>div>a>img{
        max-height: 399px;
    }


}
@media (min-width:1025px){
    .ImageGallery>div>a{
        width:15%;
        height: 500px;
    }
    .ImageGallery>div>a>img{
        max-height: 499px;
    }

}
